{
	"printWidth": 120,
	"tabWidth": 4,
	"singleQuote": true,
	"jsxBracketSameLine": true,
	"semi": false,
	"useTabs": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"jsxSingleQuote": true
}
